a, a:hover, a:active, a:visited, a:focus {
	text-decoration:none !important;
}
.body {
	background-color: rgba(213, 255, 241, 0.822);
}
.header {
	display: flex;
	justify-content: space-between;
	background-color: rgb(191, 252, 198);
	box-shadow: 0px 0px 1px 0px rgb(61 66 81 / 20%), 0px 1px 4px -1px rgb(61 66 81 / 30%);
}
.logo {
	margin-left: 2%;
	font-size: 24pt;
	text-transform: uppercase;
	text-align: left;
	color: black !important;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
}
.page {
  display: flex;
	min-height: 100vh;
}
.container {
	margin-top: 2% !important;
	margin-left: auto !important;
	margin-bottom: 2% !important;
}