{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Static files -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		<!-- leaflet CSS -->
  
    <title>Good Weather | {% block title %}{% endblock title %}</title>



  </head>

  <body class="body">
    <div class="wrapper">
      <header class="header">
        <a class="logo" href="{% url 'home' day=7 %}">Good Weather</a>
        <!-- User block -->
        <div class="auth">
          {% if user.is_authenticated %}
            <h4><span>Hello, {{ user.username }}! | </span><a href="{% url 'account_logout' %}">Log out</a></h4>
            <h4><a href="{% url 'history' %}">Browse history</a></h4>
          {% else %}
            <h4>
              <a href="{% url 'account_login' %}">Log in</a> | <a href="{% url 'account_signup' %}">Sign up</a>
            </h4>
          {% endif %}
        </div>	
      </header>

      <div class="page">
        <div class="container">
          {% block content %}
          {% endblock content %}
        </div>
      </div>

      <footer class="footer">
        <div>Made by top progers (Evgeniy baka)</div>
        <div>&copy; All rights reserved</div>
      </footer>
    </div>
  </body>
</html>