{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Static files -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		<!-- leaflet CSS -->
  
    <title>Good Weather | {% block title %}{% endblock title %}</title>
  </head>

  <body class="body">
  	<header class="header">
			<a class="logo" href="{% url 'home' %}">Good Weather</a>	
		</header>

		<div class="page">
    	<div class="container">
    	  {% block content %}
    	  {% endblock content %}
    	</div>
		</div>

		<footer class="footer">

		</footer>
  </body>
</html>